<Center>
<br>
<FONT><h1>Acerca de</h1>
<hr></hr>
<br></br>
<div class="container_s">
<h2>Alertas Tempranas versión 1.0</h2>
<br></br>
<th>Web Creado bajo la colaboración de los ingenieros de sistemas:</th>
<br></br>
<th>Cristían Hernández</th>
<br></br>
<th>Nelson Romero</th>
<br></br>
<th>Ricardo Romero</th>
<br></br>
</div>